{{template "base/head" .}}
<div class="ui container center">
	<h3>An error occured.</h3>
	<div class="ui divider"></div>
	<br>
	{{if .ErrorMsg}}<p>An error has occurred : {{.ErrorMsg}}</p>{{end}}
	<p>Application Version: {{AppVer}}</p>
</div>
{{template "base/footer" .}}
