{{/*
<html>
<body>
<div>
    */}}
<footer>
    <div>
        <div class="left">
            © 2017 git.txt - {{.i18n.Tr "footer.version"}}: {{AppVer}} - {{.i18n.Tr "footer.page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> - {{.i18n.Tr "footer.template"}}: <strong>{{call .TmplLoadTimes}}</strong>
            <br/>
            {{.i18n.Tr "footer.gitxts"}}: {{CounterGitxt}}, {{.i18n.Tr "footer.managed"}}: {{CounterGitxtManaged}}
        </div>
        <div class="right">
            <a target="_blank" href="https://dev.sigpipe.me/dashie/git.txt">{{.i18n.Tr "footer.sources"}}</a>
            -
            <span class="version">{{GoVer}}</span>
        </div>
    </div>
</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{AppSubURL}}/js/jquery-3.2.1.min.js"></script>
<script src="{{AppSubURL}}/js/bootstrap.min.js"></script>
<script src="{{AppSubURL}}/js/jquery.bootstrap-growl.min.js"></script>

<script>
    var csrf;
    var suburl;
    csrf = $('meta[name=_csrf]').attr("content");
    suburl = $('meta[name=_suburl]').attr("content");

    function show_alert(type, title, message) {
        console.log('Alert: ' + type + ' - ' + title + ' - ' + message);
        // type null, danger, info, success
        msg = title + "<br/><small>" + message + "</small>";
        $.bootstrapGrowl(msg, {type: type})
    }

    $(document).ajaxError(function (event, request, settings) {
        console.log('triggered');
        if (request.status === 500) {
            return show_alert("danger", "Ajax query failed", "Error 500 :(");
        }
        if (request.responseJSON) {
            return show_alert("danger", "Ajax query failed", request.responseJSON.message);
        }
        show_alert("danger", "Ajax query failed", "Unknown error");
    });
</script>

{{if (or .PageIsGitxtNewPost .PageIsGitxtNew .PageIsGitxtEdit .PageIsGitxtEditPost)}}
<script src="{{AppSubURL}}/js/GitxtNewPost.js"></script>
{{end}}

{{if .PageIsGitxtView}}
<script src="{{AppSubURL}}/js/highlight.pack.js"></script>
<script src="{{AppSubURL}}/js/GitxtView.js"></script>
{{end}}
</body>
</html>