/* Move down content because we have a fixed navbar that is 50px tall plus 20px to center with bottom */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    clear: both;
}

footer {
    font-family: "PingFang SC", "Helvetica Neue", "Microsoft YaHei", Arial, Helvetica, sans-serif !important;
    margin-top: 54px !important;
    padding-top: 10px;
    border-top: 1px solid #d6d6d6;
    color: #888888;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}