<div class="settings_sidebar">
    <div class="header item">Settings</div>
    <a class="{{if .PageIsSettingsProfile}}active{{end}} item" href="/user/settings">Profile</a>
    <a class="{{if .PageIsSettingsSshKeys}}active{{end}} item" href="/user/settings/ssh_keys">SSH Keys</a>
    <a class="item" href="/user/forget_password">Reset Password</a>
</div>