{{template "base/head" .}}

<form class="form" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="description form-group {{if .Err_Description}}has-error{{end}}">
                            <label for="description" class="sr-only">{{.i18n.Tr "gitxt.description"}}</label>
                            <input type="text" name="description" id="description" class="form-control" value="{{.description}}" placeholder='{{.i18n.Tr "gitxt.description_placeholder"}}'>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label for="expiry_hours">{{.i18n.Tr "gitxt_edit.expiry"}}</label>
                        <select id="expiry_hours" name="expiry_hours">
                            <option value="0" {{if eq .ExpiryHours 0}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.never"}}</option>
                            <option value="1" {{if eq .ExpiryHours 1}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.1h"}}</option>
                            <option value="4" {{if eq .ExpiryHours 4}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.4h"}}</option>
                            <option value="24" {{if eq .ExpiryHours 24}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.1d"}}</option>
                            <option value="48" {{if eq .ExpiryHours 48}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.2d"}}</option>
                            <option value="72" {{if eq .ExpiryHours 72}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.3d"}}</option>
                            <option value="96" {{if eq .ExpiryHours 96}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.4d"}}</option>
                            <option value="120" {{if eq .ExpiryHours 120}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.5d"}}</option>
                            <option value="144" {{if eq .ExpiryHours 144}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.6d"}}</option>
                            <option value="168" {{if eq .ExpiryHours 168}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.7d"}}</option>
                            <option value="730" {{if eq .ExpiryHours 730}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.1m"}}</option>
                            <option value="8760" {{if eq .ExpiryHours 8760}}selected{{end}} >{{.i18n.Tr "gitxt.expiry.1y"}}</option>
                        </select>
                    </div>
                </div>

                <div class="form placeholders">
                    <div class="form_INDEX gitxt_new_file" data-id="INDEX">
                        <div class="filename">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
                                <input type="text" name="files_filename" id="file_INDEX_filename" class="form-control" value="" placeholder='{{$.i18n.Tr "gitxt.file_filename_placeholder"}}'>
                                <div class="input-group-addon btn btn-delete-file"><i class="fa fa-remove" aria-hidden="true"></i></div>
                            </div>
                        </div>

                        <div class="content form-group">
                            <textarea rows="15" type="text" name="files_content" id="file_INDEX_content" class="form-control" placeholder='{{$.i18n.Tr "gitxt.file_content_placeholder"}}'></textarea>
                        </div>
                    </div>
                </div>


                <div class="files">
                    {{range $index, $value := .FilesContent}}
                        <div class="form_{{$index}} gitxt_new_file" data-id="{{$index}}">
                            <div class="filename">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
                                    <input {{if index $.FilesNotHandled $index}}readonly{{end}} type="text" name="files_filename" id="file_{{$index}}_filename" class="form-control" value="{{index $.FilesFilename $index}}" placeholder='{{$.i18n.Tr "gitxt.file_filename_placeholder"}}'>
                                    <div class="input-group-addon btn btn-delete-file"><i class="fa fa-remove" aria-hidden="true"></i></div>
                                </div>
                            </div>

                            <div class="content form-group">
                                {{if index $.FilesNotHandled $index}}
                                File too big or binary type and then cannot be edited here.
                                <input type="hidden" name="files_content" value="binaryFile">
                                {{else}}
                                <textarea rows="15" type="text" name="files_content" id="file_{{$index}}_content" class="form-control" placeholder='{{$.i18n.Tr "gitxt.file_content_placeholder"}}'>{{index $.FilesContent $index}}</textarea>
                                {{end}}
                                <input type="hidden" name="files_not_handled" id="file_{{$index}}_not_handled" value="{{if index $.FilesNotHandled $index}}1{{else}}0{{end}}">
                            </div>
                        </div>
                    {{end}}
                </div>

                <div class="gitxt_new_form_actions clear">
                    <div class="left">
                        <span id="add_new_form" class="btn btn-sm btn-default">{{.i18n.Tr "gitxt.add_new_file"}}</span>
                    </div>
                    <div class="right">
                        <button class="btn btn-xs btn-{{if .repoIsPrivate}}warning{{else}}success{{end}}">{{if .repoIsPrivate}}{{.i18n.Tr "gitxt_edit.update.private"}}{{else}}{{.i18n.Tr "gitxt_edit.update.public"}}{{end}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{{template "base/footer" .}}