{{template "base/head" .}}

<div class="row">
    <div class="col-lg-6 col-lg-offset-1">
        <h4>
            {{if .repoIsPrivate}}
            <span class="label label-warning" title="private git.txt">private</span>
            {{end}}
            <a href="{{AppSubURL}}/{{.repoOwnerUsername}}">{{.repoOwnerUsername}}</a> / <a href="{{AppSubURL}}/{{.repoOwnerUsername}}/{{.repoHash}}">{{.repoHash}}</a>&nbsp;
        </h4>
    </div>
    <div class="col-lg-3 col-lg-offset-2">
        <a href="{{AppSubURL}}/{{.repoOwnerUsername}}/{{.repoHash}}/archive/master.zip" class="btn btn-sm btn-default"><i class="fa fa-download" aria-hidden="true"></i> .zip</a>
        <a href="{{AppSubURL}}/{{.repoOwnerUsername}}/{{.repoHash}}/archive/master.tar.gz" class="btn btn-sm btn-default"><i class="fa fa-download" aria-hidden="true"></i> .tar.gz</a>

        {{if .IsOwner}}
        <a href="{{AppSubURL}}/{{.repoOwnerUsername}}/{{.repoHash}}/edit" class="btn btn-sm btn-success">Edit</a>

        <a data-url="{{AppSubURL}}/{{.repoOwnerUsername}}/{{.repoHash}}/delete" data-owner="{{.repoOwnerUsername}}" data-hash="{{.repoHash}}" class="btn btn-sm btn-danger delete_link">Delete</a>
        {{end}}
    </div>
</div>

<div class="row">
    <div class="col-lg-11 col-lg-offset-1">
        <div class="gitxt_description">
            {{if .repoDescription}}
            <i class="fa fa-comment-o" aria-hidden="true"></i> {{.repoDescription}}
            {{end}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-11 col-lg-offset-1">
        {{range $entryFile := .repoFiles}}
        <div class="gitxt_file">
            <div class="header" id="file_{{$entryFile.Path}}"><i class="fa fa-file-code-o" aria-hidden="true"></i> <a href="#file_{{$entryFile.Path}}">{{$entryFile.Path}}</a> <span class="file_size">{{FileSize $entryFile.Size}}</span></div>
            <pre id="code" class="{{FilenameToHighlightClass $entryFile.Path}}">{{$entryFile.Content}}</pre>
        </div>
        {{end}}
    </div>
</div>

{{template "base/footer" .}}